<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>order management</title>

  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/medium-zoom@1.0.6/dist/medium-zoom.min.js"></script>
</head>

<body class="bg-gray-100 font-sans">

  <%- include('./partials/adminNav.ejs',{SideBarSection}) %>

    <%- include('./partials/adminSideBar.ejs') %>

  <main>
    <h2 class="text-2xl font-semibold ml-20 mb-4">Order Management</h2>
    <section class="flex justify-center items-center">
      <div class="container ">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
          <div class="flex items-center justify-between py-4 bg-white dark:bg-gray-800 p-4">
            <div class="flex items-center justify-between">
        
            </div>
            <label for="table-search" class="sr-only">Search</label>
            <div class="relative">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400 " aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
              </div>
              <input id="userSearch"
                class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search for users">
            </div>
          </div>
        <div class="w-full overflow-x-auto">
          <table class="min-w-full">
   
      <div class="overflow-x-auto">
        <table class="min-w-full bg-white border rounded shadow-lg">
          <thead class="bg-gray-800 text-white">
            <tr>
              <th class="py-3 px-6 text-left">ID</th>
              <th class="py-3 px-6 text-left">Order Number</th>
         
              <th class="py-3 px-6 text-left">total price</th>
              <th class="py-3 px-6 text-left">Customer</th>
              <th class="py-3 px-6 text-left">Payment Method</th>
              <th class="py-3 px-6 text-left">Order Date</th>
              <th class="py-3 px-6 text-left">phone Number</th>
              <th class="py-3 px-6 text-center">Actions</th>
                  <th class="py-3 px-6 text-left">Products</th>
                  <th class="py-3 px-6 text-left">download</th>
            </tr>
          </thead>
        <tbody>
          <% isOrder.forEach((item, index)=> { %>
            <tr class="hover:bg-gray-100 transition">
              <td class="py-3 px-6">
                <%= index + 1 %>
              </td>
              <td class="py-3 px-6">
                <%= item.orderNumber %>
              </td>

           
                  <td class="py-3 px-6">
                   $<%= item.totalPrice %>
                  </td>
    
              <td class="py-3 px-6">
                <div class="font-semibold">
                  <a href="/adminOrdermanagement/orderUserDetails/<%= item.orderNumber%>"><%= item.shippingAddress.username %></a>  
                </div>
             
              </td>
              <td class="py-3 px-6">
                cash on delivery
              </td>
              <td class="py-3 px-6">
                <%= formatOrderDate(item.orderDate) %>
              </td>

                <!-- Function to format the order date -->
                <% function formatOrderDate(dateString) { %>
                  <% const options={ year: 'numeric' , month: 'long' , day: 'numeric' , hour: 'numeric' , minute: 'numeric' }; %>
                    <% const formattedDate=new Date(dateString).toLocaleString('en-US', options); %>
                      <%= formattedDate %>
                        <% } %>
              <td class="py-3 px-6">
                <%= item.phoneNumber %>
              </td>
      <td class="py-3 px-6 relative">
<div class="relative">
<% if(item.status==='userCancelled') { %>
      <p class="text-gray-800 font-bold">userCancelled</p>
<%}else{ %>
  <select name="statusDisplay" class="status-select" id="status_id" data-statusId="<%= item.orderNumber %>">
    <option value="pending" <% if (item.status==='pending' ) { %> selected <% } %>>Pending</option>
    <option value="delivered" <% if (item.status==='delivered' ) { %> selected <% } %>>Delivered</option>
    <option value="cancelled" <% if (item.status==='cancelled' ) { %> selected <% } %>>Cancelled</option>
  </select>
<%} %>


</div>

  <!-- <button type="submit">Update</button> -->
</form>


    
      </td>
          <td class="py-3 px-6 relative">
            <button class="focus:outline-none text-black-500 hover:underline cursor-pointer">
              <a href="/adminOrdermanagement/orderProductDisplay/<%= item.orderNumber %>">view details</a>
            </button>
          
          
            <div class="absolute inset-y-0 right-0 flex items-center pr-3">
              <svg class="w-4 h-4 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            </div>
          </td>

          <td class="py-3 px-6 relative">
              <a href="/adminOrderManagement/invoiceAdmin/<%= item.orderNumber  %>"> <i class="fas fa-download"></i></a>
          </td>

            </tr>
            <% }); %>
        </tbody>

        </table>
      </div>

          </table>
        </div>

  
  
        </div>
  
      </div>
    </section>
  
<section class="my-6">
  <div class="pagination flex justify-center gap-4">
    <% if (paginate.hasPreviousPages) { %>
      <a href="?page=<%= paginate.page - 1 %>"
        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Previous</a>
      <% } %>

        <% if (paginate.hasNextPages && page < maxPage) { %>
          <a href="?page=<%= paginate.page + 1 %>"
            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 focus:bg-blue-700 focus:outline-none transition duration-300 ease-in-out">
            Next
          </a>
          <% } %>
  </div>
</section>

  </main>

 



<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.x.x/dist/alpine.js" defer></script>


      <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js"></script>
      <!-- font-awesome -->
      <script src="https://kit.fontawesome.com/72e1a8d80d.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


      <script src="/js/search.js"></script>
      <script src="/js/orderStatus.js"></script>


   <script>
      const selectOrder=document.querySelectorAll('#status_id')


     const selectOrders = document.querySelectorAll('.status-select');

      selectOrders.forEach((order) => {
        order.addEventListener('change', (event) => {
          const orderId = order.getAttribute('data-statusId');
          const orderContent = event.target.value;

          fetch(`/adminOrderManagement/${orderId}`, {
            method: 'POST',
            body: JSON.stringify({ data: orderContent }),
            headers: {
              'Content-Type': 'application/json',
            },
          })
            .then((response) => response.json())
            .catch((error) => {
              console.error('Error updating order status:', error);
            });
        });
      });




      




   </script>   

 
</body>
</body>

</html>