<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Home Page</title>

  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">

</head>

<body class="bg-gray-100 font-sans">

  <%- include('./partials/adminNav.ejs') %>

    <%- include('./partials/adminSideBar.ejs') %>



      <main>
        <section class="flex justify-center items-center">
          <div class="container ">
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
              <div class="flex items-center justify-between py-4 bg-white dark:bg-gray-800 p-4">
              <div class="flex items-center justify-between">
              <form action="/adminProductManagement/createProduct" method="get">
                  <button type="submit"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Add Product
                  </button>
                </form>
              </div>
                <label for="table-search" class="sr-only">Search</label>
                <div class="relative">
                  <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400 " aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                  </div>
                  <input  id="userSearch"
                    class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Search for users">
                </div>  
              </div>
              <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                  <tr>
                    <th scope="col" class="p-4">
                      <div class="flex items-center">
                        index
                      </div>
                    </th>
                      <th scope="col" class="px-6 py-3">
                       Product Img
                      </th>
                    <th scope="col" class="px-6 py-3">
                      Product Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Description
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Category
                    </th>
                    <th scope="col" class="px-6 py-3">
                     Price
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Discount
                    </th>
                    <th scope="col" class="px-6 py-3">
                      QTY
                    </th>
                   
                    <th scope="col" class="px-6 py-3">
                      Publish Date
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Action
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% displayProduct.forEach((list,index)=> { %>
                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="w-4 p-4">
                      <div class="flex items-center">
                        <%= index+1 %>
                
                      </div>
                    </td>
                    <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                
                      <div class="pl-3">
                        <div class="text-base font-semibold" >
                         <img class="w-24 rounded-full" src=" <%= list.product_image_url %>" alt="network issue">
                        </div>
                
                      </div>
                    </th>
                    <td class="px-6 py-4">
                      <div class="font-normal text-gray-500 userName">
                
                        <%= list.  product_name %>
                      </div>
                
                    </td>
                    <td class="px-6 py-4">
                      <div class="flex items-center">
                        <%= list.product_description %>
                      </div>
                    </td>
                    <td class="px-6 py-4">
                      <div class="flex items-center">
                        <%= list.product_category%>
                      </div>
                    </td>
                    <td class="px-6 py-4">
                      <div class="flex items-center">
                        <%= list.product_price%>
                      </div>
                    </td>
                
                    <td class="px-6 py-4">
                      <div class="flex items-center">
                        <%= list.product_discount%>
                      </div>
                    </td>
                    <td class="px-6 py-4">
                      <div class="flex items-center">
                        <%= list.product_qty%>
                      </div>
                    </td>
                  
                    <td class="px-6 py-4">
                      <div class="flex items-center">
                        <%= list.product_publishDate%>
                      </div>
                    </td>
                    <td class="px-6 py-4">
                      <div class="flex flex-row justify-between items-center">
                     <a href="/adminProductManagement/createProduct/<%= list._id %>"><i class="fa-regular fa-pen-to-square"></i></a>
                      <a href="/adminProductManagement/deleteProduct/<%= list._id %>"><i class="fa-solid fa-delete-left"></i></a>
                   
                        
                      </div>
                    </td>
                  </tr>
                  <% }); %>        
                </tbody>
              </table>


            </div>

          </div>
        </section>


      </main>



     

      <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js"></script>
      <!-- font-awesome -->
      <script src="https://kit.fontawesome.com/72e1a8d80d.js" crossorigin="anonymous"></script>

      <script src="/js/search.js"></script>
</body>
</body>

</html>