<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cart</title>
  <link rel="stylesheet" href="dist/output.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">

  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <!-- googlr icons materials -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>

<body>

  <!-- header.ejs -->
  <%-
    include('./partials/header.ejs',{isProfile,isUrl,islogout,isCreateAccount,isCreateAccountUrl,verifyUserEmail,cartItems})
    %>


    <main
      style="background-image: url('<%= randomBannerImage %>'); background-size: cover; background-position: center; background-repeat: no-repeat;">
      <section>
        <section class="h-screen py-12 sm:py-16 lg:py-20">
          <div class="mx-auto px-4  sm:px-6 lg:px-8">
            <div class="flex items-center justify-center">
              <h1 class="text-5xl font-extrabold text-white">Your Cart</h1>
            </div>

            <div class="mx-auto  bg-white rounded-md shadow-lg mt-8 p-4 max-w-6xl md:mt-12">
              <div class="">
                <div class="px-4 py-6 sm:px-8 sm:py-10">
                  <div class="flow-root">
                    <ul class="-my-8 flex flex-col gap-5">
                      <!-- PRODUCT VIEW SECTION START HERE -->
                      <% cartProducts.forEach((item, index)=> { %>
                        <li
                          class="flex flex-col space-y-3 border-2 rounded-xl py-6 px-4  text-left sm:flex-row sm:space-x-5 sm:space-y-0">
                          <div class="shrink-0">
                            <img class="h-24 w-24 max-w-full rounded-lg object-cover"
                              src="/<%= item.product_image_url[0] %>" alt="<%= item.product_name %>" />
                          </div>

                          <div class="relative flex flex-1 flex-col justify-between">
                            <div class="sm:col-gap-5 sm:grid sm:grid-cols-2">
                              <div class="pr-8 sm:pr-5">
                                <p class="text-base font-semibold text-gray-900">
                                  <%= item.product_name %>
                                </p>
                                <p data-price="<%= item.product_price %>" id="price<%= item._id %>" class="mx-0 mt-1 mb-0 text-sm text-gray-400">
                                  <%= item.product_price %>
                                </p>
                              </div>
                              <div class="mt-4 flex items-end justify-between sm:mt-0 sm:items-start sm:justify-end">
                                <p
                                  class="shrink-0 w-20 text-base font-semibold text-gray-900 sm:order-2 sm:ml-8 sm:text-right" data-singleProductPrice="<%= cartProductPrice[index] %>" id="single-product<%= item._id %>">
                                  $<%= cartProductPrice[index] %>
                                </p>
                                <!-- <div class="sm:order-1">
                                  <div class="mx-auto flex h-8 items-stretch text-gray-600">
                                    <a href=""
                                      class="flex items-center justify-center rounded-l-md bg-gray-200 px-4 transition hover:bg-black hover:text-white minus-cart"
                                      data-minusid="<%= item._id%>" id="minus">-</a>
                                    <div
                                      class="flex w-full items-center justify-center bg-gray-100 px-4 text-xs uppercase transition quantity-display" data-product-id="<%= item._id %>" id="qty">
                                      <%= cartquantity[index] %>
                                    </div>
                                    <a href=""
                                      class="flex items-center justify-center rounded-r-md bg-gray-200 px-4 transition hover:bg-black hover:text-white Add-cart"
                                      data-Addid="<%= item._id %>" id="add">+</a>
                                  </div>
                                </div> -->
                              <!-- Replace plus and minus buttons with dropdown -->
                  <div class="sm:order-1">
                    <div class="mx-auto relative w-24">
                      <select name="quantity"
                        class="block appearance-none w-full rounded-lg bg-gray-100 border border-gray-300 text-gray-700 py-2 px-3 pr-8 rounded-l-md text-xs uppercase transition quantity-display"
                        data-product-id="<%= item._id %>" id="qty">
                        <% for (let i=1; i <=10; i++) { %>
                          <option value="<%= i %>" <%=i===cartquantity[index] ? 'selected' : '' %>
                            class="text-gray-700">
                            <%= i %>
                          </option>
                          <% } %>
                      </select>
                      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600">
                        <!-- Add a dropdown arrow icon -->
                        <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                          <path fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4z"
                            clip-rule="evenodd" />
                        </svg>
                      </div>
                    </div>
                  </div>


                              </div>


                            </div>

                            <div class="absolute top-0 right-0 flex sm:bottom-0 sm:top-auto">
                              <a href="/cart/produc/todelete/<%=item._id%>"
                                class="flex rounded p-2 text-center text-gray-500 transition-all duration-200 ease-in-out focus:shadow hover:text-gray-900">
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                  stroke="currentColor">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12" class="">
                                  </path>
                                </svg>
                              </a>
                            </div>
                          </div>
                        </li>
                        <% }); %>
                    </ul>

                  </div>


                  <!-- TOTAL PRICE SECTION -->

                  <div class="mt-6 border-t border-b py-2">
                    <div class="flex items-center justify-between">
                      <p class="text-sm text-gray-400">Subtotal</p>
                      <p class="text-lg font-semibold text-gray-900" data-total="<%= cartItems.total %>" id="total">$<%= cartItems.total %>
                      </p>
                    </div>
                    <div class="flex items-center justify-between">
                      <p class="text-sm text-gray-400">Shipping</p>
                      <p class="text-lg font-semibold text-gray-900" >$8.00</p>
                    </div>
                  </div>
                  <div class="mt-6 flex items-center justify-between">
                    <p class="text-sm font-medium text-gray-900">Total</p>
                    <p class="text-2xl font-semibold text-gray-900" data-totalafterTax="<%= cartItems.total+8.00 %>" id="afterShipping"><span
                        class="text-xs font-normal text-gray-400" >USD</span>
                      <%= cartItems.total+8.00 %>
                    </p>
                  </div>

                  <div class="mt-6 text-center">
                    <a href="/orderManagement"
                      class="group inline-flex w-full items-center justify-center rounded-md bg-gray-900 px-6 py-4 text-lg font-semibold text-white transition-all duration-200 ease-in-out focus:shadow hover:bg-gray-800">
                      Checkout
                      <svg xmlns="http://www.w3.org/2000/svg" class="group-hover:ml-8 ml-4 h-6 w-6 transition-all"
                        fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6" />
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </section>
    </main>
    <!-- <script src="/js/addMinus.js"></script> -->
    <!-- Alpine.js and Swiper JS scripts -->
    <script src="/js/updateCart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js" defer></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/72e1a8d80d.js" crossorigin="anonymous"></script>
    <script src="/js/swiper.js"></script>
    <script src="/js/search.js"></script>


</body>

</html>