<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>full product view</title>
  <link rel="stylesheet" href="dist/output.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class=" scroll-smooth capitalize bg-gray-100">
  

  <%- include('./partials/header.ejs',{isProfile,isUrl,islogout,isCreateAccount,isCreateAccountUrl,cartItems, verifyUserEmail}) %>

  <section class="flex sm:flex-row w-2/4 sm:justify-between flex-col">

    <div class="mt-24  flex flex-col  w-64 gap-3">
      <p class="text-gray-900 font-bold items-center  ml-5"><%= paginate.page %> out of <%= maxPage %></p>
      <button id="dropdownDefault" 
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-28 m-4"
        type="button">
        Filter 
        <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
      </button>
  
      <div class="filter-box hidden flex flex-col gap-4 w-64 bg-white h-72 justify-center items-center rounded p-4">
        <!-- Category Filter -->
        <div class="mb-4">
          <h3 class="text-md font-semibold text-gray-900 mb-2">Filter by Category</h3>
          <form id="filterForm">
            <select class="w-full py-2 px-4 rounded-md bg-white text-gray-900 border border-gray-300" name="sortby" id="categorySortt">
              <option value="" class="{{ !categoryNameRecevied ? 'font-semibold' : '' }}">All</option>
              <% avilableCategories.forEach((category) => { %>
                <option <%= categoryNameRecevied && category.product_category === categoryNameRecevied ? 'selected font-semibold' : '' %>><%= category.product_category %></option>
              <% }); %>
            </select>
          </form>
        </div>
  
        <!-- Price Sort Filter -->
        <div class="mb-4">
          <h3 class="text-md font-semibold text-gray-900 mb-2">Sort By Price</h3>
          <select class="w-full py-2 px-4 rounded-md bg-white text-gray-900 border border-gray-300" name="sortby" id="priceSort">
            <option <%= !priceSortRecevied ? 'selected font-semibold' : '' %>>Relevance</option>
            <option value="Price Low to High" <%= priceSortRecevied === 'Price Low to High' ? 'selected font-semibold' : '' %>>Price Low to High</option>
            <option value="Price High to Low" <%= priceSortRecevied === 'Price High to Low' ? 'selected font-semibold' : '' %>>Price High to Low</option>
            <!-- Add more sorting options here -->
          </select>
        </div>
  
        <!-- Apply Filter Button -->
        <div class="flex justify-center">
          <button class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 " type="button" onclick="submitForm()">Apply Filter</button>
        </div>
      </div>
    </div>
  
    <div class=" text-center sm:mt-24">
      <h1 class="sm:text-3xl text-xl text-center font-bold"><%= categoryNameRecevied?categoryNameRecevied:"watches"  %></h1>
    </div>
  </section>
  
  
 

  

<!-- Second Section: Product List without Swiper -->
<section class="mt-8">
  <% if (isProductView.length>0) { %>
      <ul class="flex flex-wrap  justify-center gap-2 ">
    <% isProductView.forEach((element, index)=> { %>
  
      <li class="searchable-item relative m-4 ml-10 mb-8 md:m-4 lg:m-10 flex w-full h-auto max-w-xs flex-col overflow-hidden rounded-lg border border-gray-100 bg-white shadow-md">
        <a class="relative mx-2 mt-2 md:mx-3 md:mt-3 lg:mx-4 lg:mt-4 h-28 md:h-52 overflow-hidden rounded-xl flex flex-col justify-between"
          href="/productList/details/<%= element._id %>">
          <img id="image" class="object-contain w-full h-full md:h-52 lg:h-60" src="/<%= element.product_image_url[0] %>" alt="<%= element.product_image_url[0] %>" />
          <% if (element.product_discount > 0) { %>
            <span class="absolute top-0 left-0 m-2 rounded py-1 px-4 opacity-80 hover:text-black hover:bg-gray-400 transition-all text-center text-xs md:text-sm lg:font-medium text-white bg-black">
              <%= element.product_discount %>
              OFF
            </span>
          <% } else { %>
            <span></span>
          <% } %>
        </a>
        <div class="mt-2 md:mt-4 px-2 md:px-5 pb-2 md:pb-5">
          <a href="#">
            <h5 class="product-name text-lg md:text-xl lg:text-2xl tracking-tight text-gray-800">
              <%= element.product_name %>
            </h5>
          </a>
          <div class="mt-1 md:mt-2 mb-3 md:mb-5 flex items-center justify-between">
            <p>
              <% if (element.product_discount > 0) { %>
                <span class="text-lg md:text-xl lg:text-2xl font-bold text-gray-900 ">$ <%= (element.product_price * (1 - element.product_discount / 100)).toFixed(2) %></span>
              <% } else { %>
                <span class="text-lg md:text-xl lg:text-2xl font-bold text-gray-900 ">$ <%= element.product_price %></span>
              <% } %>
              <span class="text-xs md:text-sm lg:text-lg text-gray-500 line-through">$<%= element.product_price %></span>
            </p>
            <div class="flex items-center space-x-1 md:space-x-2">
              <svg aria-hidden="true" class="h-4 sm:h-5 md:h-6 lg:h-7 text-red-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <!-- Star SVG -->
              </svg>
              <!-- Repeat this for each star -->
              <span class="h-4 sm:h-5 md:h-6 lg:h-7 text-red-600">★</span>
              <span class="mr-2 ml-3 rounded bg-red-600 px-1 sm:px-2 md:px-3 lg:px-4 text-xs sm:text-sm md:lg:text-lg font-semibold text-white"><%= element.product_rating %></span>
            </div>
          </div>
          <div class="flex flex-col gap-3">
            <% if (element.product_qty <= 0 || element.isListed === false) { %>
              <p class="flex items-center justify-center w-full bg-red-900 px-2 py-1 text-sm text-white transition hover:bg-gray-700 rounded-md">out of stock</p>
            <% } else { %>
              <button class="flex items-center justify-center w-full bg-gray-900 px-2 py-1 text-sm text-white transition hover:bg-gray-700 rounded-md">
                <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
             
                </svg>
                <a href=''>Buy now</a>
              </button>
              <p class="text-gray-900 text-center text-sm font-bold"><%= element.product_qty <= 5 ? `${element.product_qty} more left` : '' %></p>
            <% } %>
          </div>
        </div>
      </li>
    <% }) %>
  </ul>
<%  } else{ %>
  <ul class="flex flex-wrap  justify-center gap-2 ">
    <p id="emptyProduct" class="text center "></p>

  </ul>
<%}%>


  
</section>


<section class="my-6">
  <div class="pagination flex justify-center gap-4"> 
    <% if (paginate.hasPreviousPages) { %>
      <a href="?page=<%= paginate.page-1 %>"
        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Previous</a>
      <% } %>

        <% if (paginate.hasNextPages && page<maxPage) { %>
          <a href="?page=<%= paginate.page+1  %>"
            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 focus:bg-blue-700 focus:outline-none transition duration-300 ease-in-out">
            Next
          </a>
          <% } %>

         
  </div>
</section>



  <script src="/js/darkmode.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js" defer></script>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <!-- font-awesome -->
  <script src="https://kit.fontawesome.com/72e1a8d80d.js" crossorigin="anonymous"></script>
  <script>
      async function submitForm() {
        const selectedCategory=document.getElementById('categorySortt').value
        const priceSort=document.getElementById('priceSort').value
        console.log(selectedCategory,"my category");

       const response= fetch('/productFullList',{
        method:'POST',
        headers: {
        'Content-Type': 'application/json',
      },
     body: JSON.stringify({ category: selectedCategory ,priceSort:priceSort}),
       }).then((response)=>{
        if(response.ok){
          console.log("sucess");
          window.location.reload()
         return response.json()
        }else{
          console.log("not sucess");
        }
       }).then((data)=>{
        console.log(data.sucess,"my data");
       }).catch((error)=>{
        console.log(error,"error fetchiung sorting categories");
       })
       
      }
  </script>
  <script>
      const dropdownDefault=document.getElementById('dropdownDefault')
      const filterBox=document.querySelector('.filter-box')

      dropdownDefault.addEventListener('click', () => {

  filterBox.style.display = filterBox.style.display === 'none' ? 'block' : 'none';
});
  </script>
      
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.5/lottie.min.js"></script>
<script>
  bodymovin.loadAnimation({
    container: document.getElementById('emptyProduct'),
    path:'/json/emptyProduct.json',
  });
</script>
</body>
</html>