<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Details - E-commerce</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/darkmode.css">

</head>

<body class="bg-gray-100 dark-mode">
<!-- header.ejs -->
<%-
  include('./partials/header.ejs',{isProfile,isUrl,islogout,isCreateAccount,isCreateAccountUrl,verifyUserEmail,cartItems, orderUrl})
  %>

  <!-- User Details -->
  <main >
    <section class="bg-gray-100 mt-14">
      <div class="container mx-auto py-12 px-4">
        <div class="bg-white rounded-lg shadow-md p-6">
          <div class="flex flex-col md:flex-row items-center md:space-x-6">
            <!-- User Profile Image -->
            <div class="w-full md:w-1/3 text-center md:text-left">
              <!-- Edit Photo Button -->
              <a href="/userProfileAddForm"
                class="bg-blue-500 hover:bg-blue-600 text-white mt-4 py-2 px-4 rounded-md shadow-md transition duration-300 ease-in-out">
                Edit Photo
              </a>
              <!-- User Profile Picture -->
              <div
                class="relative inline-block group overflow-hidden rounded-full border-4 border-blue-500 hover:shadow-xl transition duration-300 ease-in-out mt-8">
                <img src="<%= verifyUserEmail.user_image_url %>" alt="User Profile"
                  class="w-64 h-64 mx-auto md:mx-0 object-cover object-center transform group-hover:scale-105 transition duration-300 ease-in-out">
                <div
                  class="absolute bottom-0 right-0 bg-blue-500 text-white p-2 rounded-full transform translate-x-2 translate-y-2 group-hover:translate-x-0 group-hover:translate-y-0 transition duration-300 ease-in-out">
                </div>
              </div>
            </div>

    <div class="w-full md:w-2/3 mt-6 md:mt-0">
      <div class="bg-gray-100 p-6 rounded-lg border border-gray-300">
        <h1 class="text-3xl font-semibold text-gray-800 mb-4">
          <% if (verifyUserEmail && verifyUserEmail.username) { %>
            <%= verifyUserEmail.username %>
              <% } %>
        </h1>
    
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <!-- Email -->
          <div>
            <div class="text-gray-600 text-lg mb-1">Email:</div>
            <div class="text-gray-800 text-lg font-semibold">
              <%= verifyUserEmail.email %>
            </div>
          </div>
    
          <!-- Phone -->
          <div>
            <div class="text-gray-600 text-lg mb-1">Phone:</div>
            <div class="text-gray-800 text-lg font-semibold">
              <%= verifyUserEmail.mobileNumber %>
            </div>
          </div>
    
          <!-- Address -->
          <div class="col-span-2">
            <h2 class="text-2xl font-semibold mb-2">Primary Address</h2>
            <div class="text-gray-600 text-lg font-semibold mb-1">Address line-1:</div>
            <div class="text-gray-800 text-lg truncate w-80">
              <%= isAddressTheir.premanant_address %>
            </div>
            <div class="text-gray-600 text-lg font-semibold mb-1">City:</div>
            <div class="text-gray-800 text-lg">
              <%= isAddressTheir.city %>
            </div>
            <div class="text-gray-600 text-lg font-semibold mb-1">Postal Code:</div>
            <div class="text-gray-800 text-lg">
              <%= isAddressTheir.postalCode %>
            </div>
            <div class="text-gray-600 text-lg font-semibold mb-1">Country:</div>
            <div class="text-gray-800 text-lg">
              <%= isAddressTheir.country %>
            </div>
          </div>
        </div>
    <% let confirm ="details" %>
        <a href="/userDetails/address/<%= confirm %>" class="block mt-6">
          <button
            class="bg-blue-500 hover:bg-emerald-700 text-white py-2 px-4 rounded-md shadow-md transition duration-300 ease-in-out">
            Add Address
          </button>
        </a>
        <a href="/userDetails/detailsEdit" class="block mt-6">
          <button
            class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md shadow-md transition duration-300 ease-in-out">
            Edit Profile
          </button>
        </a>
      </div>
    </div>

          </div>

    
        </div>
      </div>
    </section>

  </main>
    <script src="/js/darkmode.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@simondmc/popup-js@1.4.2/popup.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js" defer></script>
      <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>


 
</body>

</html>