<header class="fixed w-full top-0 z-50">
  <nav class="bg-white text-black p-4">
    <div class="container mx-auto flex justify-between items-center">
      <!-- Logo -->
      <a href="#" class="text-2xl font-bold">myWachie.com</a>

    
      <!-- Search Bar -->
      <div class="relative md:w-2/3 md:block hidden">
        <input type="text" placeholder="Search"
          class="bg-gray-800 text-white py-1 pl-8 pr-3 rounded-full w-full md:w-auto">
        <svg class="w-5 h-5 absolute top-2 left-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-5.2-5.2"></path>
          <circle cx="10" cy="10" r="7"></circle>
        </svg>
      </div>

      <!-- Shopping Cart Icon and User Account Section -->
      <div class="flex items-center gap-5">
        <a href="#" class="text-2xl hover:text-gray-400">
          <i class="fa-regular fa-heart"></i>
        </a>
        <a href="#" class="text-2xl hover:text-gray-400">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>

        <!-- User Account Dropdown -->
        <div x-data="{ isOpen: false }" class="relative group">
          <a href="#" class="text-2xl hover:text-gray-400" @click="isOpen = !isOpen">
            <button type="button"
              class="border border-indigo-500 bg-indigo-500 text-white rounded-md px-2 py-1 transition duration-500 ease select-none hover:bg-indigo-600 focus:outline-none focus:shadow-outline">
              <h6 class="px-1"><i class="fa-regular fa-user"></i></h6>
            </button>
          </a>
          <ul x-show="isOpen" @click.away="isOpen = false"
            class="absolute right-0 mt-2 w-48 md:w-96 space-y-2 bg-gray-800 text-gray-300 z-50">
            <li>
    
              <a href="#" class="text-2xl hover:text-gray-400" @click="isSignup = !isSignup">
                     
                <a href="<%= isUrl  %>" class="block px-4 py-2 hover:bg-gray-700 hover:text-white"><%= isProfile %> </a>
                  
              </a>   
            </li>
            <li>
              <a href="<%= isCreateAccountUrl %>" class="block px-4 py-2 hover:bg-gray-700 hover:text-white"><%= isCreateAccount %></a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-700 hover:text-white">Language</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-700 hover:text-white">Settings</a>
            </li>
            <li>
              <a href="/logout" class="block px-4 py-2 hover:bg-gray-700 hover:text-white"><%= islogout%></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

isProfile,isUrl,