<aside class="bg-gray-800 text-white w-52 p-4 pt-9 flex flex-col justify-start sticky top-0 left-0 h-screen">
  <h2 class="text-xl font-bold mb-4">Filter and Sort</h2>



  <!-- Filter by Brand -->
  <div class="mb-4">
    <h3 class="text-lg font-semibold">Brand</h3>
<select class="w-full py-1 px-2 rounded-md bg-gray-700 text-white" name="brandSort" id="brandSort"
  data-category="<%= categoryName %>">

  <% const uniqueBrands=Array.from(new Set( isAvailableBrands.map(item=> item.brand))) %>
    <% uniqueBrands.forEach((brand, i)=> { %>
      <option value="<%= brand %>" <%=i===0 ? 'selected' : '' %>><%= brand %>
      </option>
      <% }); %>
        <!-- Add more brand options here -->
</select>


  </div>

  <!-- Filter by Dial Color -->
  <div class="mb-4">
    <h3 class="text-lg font-semibold">Dial Color</h3>
    <select class="w-full py-1 px-2 rounded-md bg-gray-700 text-white">
      <option value="color1">Color 1</option>
      <option value="color2">Color 2</option>
      <!-- Add more color options here -->
    </select>
  </div>

  <!-- Sort by -->
  <div>
    <h3 class="text-lg font-semibold">Sort By</h3>
    <select class="w-full py-1 px-2 rounded-md bg-gray-700 text-white" name="sortby " id="priceSort" data-category="<%= categoryName %>">
      <option value="relevance" <%= isSort==='relevance'?'selected':'' %>>Relevance</option>
      <option value="price-low-to-high" <%= isSort==='price-low-to-high'?'selected':'' %> >Price Low to High</option>
      <option value="price-high-to-low" <%= isSort==='price-high-to-low'?'selected':'' %>>Price High to Low</option>
      <!-- Add more sorting options here -->
    </select>
  </div>
</aside>